<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
    <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <br/>
        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        <br/>
        <input type="submit" value="Add User">
    </form>
</body>
</html>